@media only screen and (max-width: 500px) {
    *{
        overflow-x: hidden;
        
    }


    .amain{
        /* background-color: brown; */
        width: 100%;
        height: 150px;
    }
    .bmain{
        /* background-color: aqua; */
        font-size: 40px;
        font-weight: 700;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }
    .bringing{
        /* background-color: chocolate; */
        display: flex;
        justify-content: center;
        height: 250px;
    }
    .bring{
        /* background-color: crimson; */
        font-size: 30px;
        font-weight: 600;
        width: 80%;
        height: 250px;
    }
    
    .text-center{
      width: 100%;
      height: 40vh;
      /* background-color: brown; */
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
     
  }
    
    .zoom-image {
        transition: transform 0.3s ease;
        border-radius: 20px;
        width: 90%; 
        height: 30vh;
        border-radius: 20px;
        /* background-color: aqua; */
        
      }
      .threepara{
        /* background-color: lime; */
        height: 130vh;
        display: flex;
        justify-content: space-evenly;
        
      }
      .onepara{
        /* background-color: darkturquoise; */
        /* width: 100%; */
        font-size: 17px;
        font-weight: 400;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        

      }
      .twopara{
        /* background-color: blueviolet; */
        font-size: 28px;
        font-weight: 600;
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .thirdpara{
        /* background-color: chocolate; */
        font-size: 17px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .here{
        font-size: 64px;
        font-weight: 700;
        background-color: blueviolet;
        width: 100%;
        font-size: 60px;
        display: none;
        text-align: center;      
      }
      .heres{
        font-size: 64px;
        font-weight: 700;
        /* background-color: blueviolet; */
        
        font-size: 60px;
        display: flex;
        /* text-align: center;   */
        color: #000000;
        font-family: Inter, sans-serif;
        width: 100%;
        height: 300px;
        align-items: center;
        justify-content: center;
      }
      .containers{
        height: 250vh;
        /* background-color: teal; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .blockone{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
        /* background-color: chartreuse; */
        justify-content: space-around;
      }
      .container-a{
        width: 90%;
        height: 300px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;
        /* background-color: yellow; */
      }
      .a{
        /* background-color: cyan; */
        height: 100%;
        display: flex;
       justify-content: center;
        flex-direction: column;
       
      }
      .heading{
        font-size: 30px;
      }
      .content{
        font-size: 30px;
      }
      .container-b{
        width: 90%;
        height: 300px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;
        /* background-color: blue; */
      }
      .b{
        /* background-color: brown; */
        /* width: 100%; */
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
       
      }
      .line{
        font-size: 30px;
      }
      .blocktwo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
        /* background-color: rgb(255, 77, 0); */
        justify-content: space-around;

      }
      .container-c{
        width: 90%;
        height: 300px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;
      }
      .c{
        height: 100%;
        /* background-color: brown; */
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .container-d{
        width: 90%;
        height: 320px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;

      }
      .d{
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .blockthird{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 125vh;
        align-items: center;
        /* background-color: rgb(30, 0, 255); */
        justify-content: space-around;

      }
      .container-e{
        width: 90%;
        height: 500px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;
        /* background-color: aqua; */
      }
      .e{
        /* background-color: brown; */
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .container-f{
        width: 90%;
        height: 300px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 600;
      }
      .f{
        height: 100%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .join{
        /* background-color: chocolate; */
        display: flex;
        justify-content: center;
        height: 250px;
      }
      .joinus{
        /* background-color: aqua; */
        font-size: 17px;
        width: 80%;
        height: 200px;
        
      }
     .footer{
        display: flex;
        flex-direction: column;
     }
     .last{
        /* background-color: brown; */
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        font-size: 15px;
     }
     .connect{
        font-size: 15px;
     }
     





}